.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }
.Error { display: none; font-size: 0.8em; color: red;}
.Error.visible {display: block;}
input.invalid {border-color: red;}
body{
    background-image: url(img/Fondotarjeta.png);
}
.cuadrotarjeta{
    position: absolute;
    left: 25%;
    top: 20%;
}
h1{
    text-align: center;
    font-family: 'Cinzel', serif;
}
.cuadrotarjeta{
    background-color: white;
    padding: 2%;
    border-radius: 10px;
}