@import url('https://fonts.googleapis.com/css2?family=Kreon&family=Sigmar+One&display=swap');

body{
    background-color: #E4E9F8;
}


h1{
    font-family: 'Sigmar One', cursive;
    text-align: center;
    color: #CD1161;
}

h2{
    font-family: 'Kreon', serif;
    text-align: center;
    color: #B63A6E;
}

h3{
    color: #99164C;
    font-size: 12px;

}

h4{
    color: #FC93BE;
    font-size: 12px;

}

h5{
    color: #F63D89
}


#ROPA{
    width: 100%;
    text-align: center;
}
#ROPA2{
    width: 60%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
footer{
    background-color:#F8DBE7;
    color: black;
    opacity: 70%;
}
#logo{
    width: 10%;
    height: auto;
    display: inline;
}
h4{
    font-family: 'Italianno', 'cursive';
    font-size: 0cm;
}
#icon{
    width: 20px;
}
#logoin{
    width: 20%;
    height: auto;
    margin-left: 5px;
}
#columna{
    background-color:#FCD9B8 ;
    border-radius: 3px;
}
#somos{
    width: 100%;
}
#columna > p,
.col-8 > p{
    text-align: justify;
}
#logo2{
    width: 100%;
    height: auto;
    display: inline;
}